.home__header__main {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.home__header__child {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__header__child ul {
  display: flex;
  gap: 1.5rem;
}
.home__header__other__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  width: 33%;
}
.home__header__child ul li {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
}
.home__header__child ul li:hover {
  color: gray;
}
.home__header__child ul li a {
  font-size: 1rem;
}
.home__header__child h3 {
  font-size: 1.5rem;
}

.close,
.open {
  display: none;
}

@media (max-width: 756px) {
  .close {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
  }
  .open {
    color: white;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    top: 2rem;
    right: 2.5rem;
  }
  .home__header__child ul {
    border-top: 1px solid gray;
    color: white;
    position: relative;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    top: 4.5rem;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 100%;
    animation: fade-in 0.3s;
  }
  .home__header__child ul li {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
  }
  .home__header__child ul li a {
    font-size: 3rem;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
