.top__geo__main {
  padding: 1.5rem;
  padding-left: 20rem;
  padding-top: 4rem;
}
.topcard__top__geo {
  background-color: white;
  padding: 1.5rem;
}
.top__geo__table {
  background-color: white;
  padding: 1.5rem;
}
.input__data input {
  font-size: 1.5rem;
}
.input__data {
  display: flex;
}
.input__data button {
  padding: 0 1.5rem;
}
.input__data button {
  padding: 0 1.5rem;
  background: rgb(87, 87, 175);
  color: white;
}
.topcard__top__geo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
